@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

$header-height: 5rem;

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

// Definition der Farben für den Hellmodus
$li-clr-bg: #fcfcfc;
$li-clr-bg-alt: #fff;
$li-clr-fg: #555;
$li-clr-fg-alt: #444;
$li-clr-primary: #2978b5;
$li-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  
  // Definition der Farben für den Dunkelmodus
$da-clr-bg: #23283e;
$da-clr-bg-alt: #2a2f4c;
$da-clr-fg: #bdbddd;
$da-clr-fg-alt: #cdcdff;
$da-clr-primary: #90a0d9;
$da-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  
  // Stildefinitionen für den Body basierend auf dem aktuellen Theme-Modus
  body.light {
    background-color: $li-clr-bg; // Hintergrundfarbe für den Hellmodus
    color: $li-clr-fg; // Textfarbe für den Hellmodus
  }
  
  body.dark {
    background-color: $da-clr-bg; // Hintergrundfarbe für den Dunkelmodus
    color: $da-clr-fg; // Textfarbe für den Dunkelmodus
  }


.disable-scroll {
  overflow-y: hidden;
  touch-action: none;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
  font-weight: 600;
  
  body.light & {
    color: $li-clr-fg-alt;
  }
  
  body.dark & {
    color: $da-clr-fg-alt
  }
}

h1,
.about__greeting {
  font-size: 2.6rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (min-width: 900px) {
  h1 {
    font-size: 3rem;
  }
}

.app {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
}

.section {
  padding-top:  calc($header-height + 3rem);
}

.section__title {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.paragraph__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  padding: 0.3rem 0;
  position: relative;

  body.light & {
    color: $li-clr-primary
  }
  
  body.dark & {
    color: $da-clr-primary
  }
}

.link:hover {
  body.light & {
    color: $li-clr-primary
  }
  
  body.dark & {
    color: $da-clr-primary
  }
}

.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2rem;
  position: absolute;
  bottom: 0;
  transition: width 0.2s ease-in;

  body.light & {
    background-color: $li-clr-primary
  }
  
  body.dark & {
    background-color: $da-clr-primary
  }
}

.link:hover::before,
.link:focus::before {
  width: 100%;
}

.link--nav {
  /* text-transform: lowercase; */
  font-weight: 500;
  body.light & {
    color: $li-clr-fg
  }
  
  body.dark & {
    color: $da-clr-fg
  }
}

.link--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  
  body.light & {
    color: $li-clr-fg
  }
  
  body.dark & {
    color: $da-clr-fg
  }
}

.btn {
  display: block;
  cursor: pointer;
  padding: 0.8rem 1.4rem;
  font-weight: 500;
  font-size: 0.9rem;
  /* text-transform: lowercase; */
  transition: transform 0.2s ease-in-out;
}

.btn--outline {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  
  body.light & {
    color: $li-clr-primary;
    border: 2px solid $li-clr-primary;
  }
  
  body.dark & {
    color: $da-clr-primary;
    border: 2px solid $da-clr-primary;
  }
}

.btn--outline:hover,
.btn--outline:focus {
  body.light & {
    color: $li-clr-bg
  }
  
  body.dark & {
    color: $da-clr-bg
  }
}

.btn--outline:before {
  content: '';
  position: absolute;
  right: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -1;
  transition: right 0.2s ease-in-out;

  body.light & {
    background-color: $li-clr-primary
  }
  
  body.dark & {
    background-color: $da-clr-primary
  }
}

.btn--outline:hover:before,
.btn--outline:focus:before {
  right: 0;
}

.btn--plain {
  text-transform: initial;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border: 0;
  body.light & {
    background-color: $li-clr-bg-alt
  }
  
  body.dark & {
    background-color: $da-clr-bg-alt
  }
}

.btn--plain:hover {
  transform: translateY(-4px);
}

.btn--icon {
  padding: 0;
}

.btn--icon:hover,
.btn--icon:focus {
  body.light & {
    color: $li-clr-primary
  }
  
  body.dark & {
    color: $da-clr-primary
  }
}

.btn--icon:active {
  transform: translateY(-5px);
}

.text--strong {
  body.light & {
    color: $li-clr-primary
  }
  
  body.dark & {
    color: $da-clr-primary
  }
}

.contact {
  flex-direction: column;
}

.scroll-top {
  display: none;
}

@media (min-width: 915px) {
  .scroll-top {
    background-color: transparent;
    display: unset;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
}

.skills__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills__list-item {
  margin: 0.5rem;
  border-radius: 8px;
}

.skills__list-item:hover {
  cursor: auto;
}


.footer {
  padding: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.footer__link {
  font-size: 0.9rem;
  font-weight: 600;

  body.light & {
    color: $li-clr-fg
  }
  
  body.dark & {
    color: $da-clr-fg
  }
}

@media (min-width: 600px) {
  .footer {
    padding: 3rem 0;
    margin-top: 4rem;
  }
}