@import "./__Variables.scss";

// Reset
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

// Global Elements HTML5
body {
    background-color: $background-gray;
}

main {
    margin: 0 auto;
    min-height: calc(100vh - 95px);
}

footer {
    max-width: 1400px;
    height: 25px;
    margin: 0 auto;
    @include FlexCenterSpaceBetween;
    font-size: 0.9rem;
    color: $color-gray;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        color: $color-blue;
    }
}

// Global Components
.PAGE--CONTAINER {
    max-width: 1400px;
    margin: 0 auto;
}

.NAVIGATION--CONTAINER {
    max-width: 1400px;
    height: 50px;
    margin: 10px auto;
    padding: 20px;
    background-color: $background-white;
    border-radius: 8px;

    @include FlexCenterSpaceBetween;
    @include BoxShadow;
}

.NAVIGATION--LINKS--CONTAINER {
    @include FlexCenter;
}

// Custum Elements

.btn {
    background-color: $color-blue;
    padding: 10px 16px;
    border-radius: 8px;
    color: $color-white;
    cursor: pointer;

    &:hover {
        color: $color-white;
        @include BoxShadow;
    }

    &:active {
        background-color: $color-blue-hover;
    }
}