@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./__Variables.scss";

// Reset
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

// Global Elements HTML5
body {
    background-color: $background-gray;
    padding: 0 20px;
}

main {
    margin: 0 auto;
    min-height: calc(100vh - 95px);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        color: $color-blue;
    }
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

p {
    line-height: 1.2rem;
    padding-bottom: 1rem;
}

hr {
    width: 90%;
    margin: 20px auto;
    border: 1px solid $color-gray;
    @include BoxShadow
}

// Global Components
.PAGE--CONTAINER {
    max-width: 1400px;
    margin: 0 auto;
}

.NAVIGATION--CONTAINER {
    max-width: 1400px;
    height: 50px;
    margin: 10px auto;
    padding: 20px;
    background-color: $background-white;
    border-radius: 8px;

    @include FlexCenterSpaceBetween;
    @include BoxShadow;
}

.NAVIGATION--LINKS--CONTAINER {
    @include FlexCenter;
}

.HOME--HEADER {
    height: 400px;
    background-image: url("/images/header_background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;

    @include BoxShadow;

    .HEADER--CONTENT {
        height: 100%;
        background: rgba(255,255,255,0.5);
        border-radius: 8px;
        @include FlexCenter;
        flex-direction: column;
    }
}

.FEATURES--CONTAINER {
    margin-top: 20px;

    h2 {
        text-align: center;
    }

    .FEATURES {
        @include FlexCenter;
        align-items: stretch;
        
        .FEATURES--ITEM {
            @include Card;
        }
    }
}

.HOMEPAGE--FIRST--CONTENT {
    @include FlexCenter;

    div{
        flex: 1;
    }
}

// Custum Elements
.btn {
    background-color: $color-blue;
    padding: 10px 16px;
    border-radius: 8px;
    color: $color-white;
    cursor: pointer;

    &:hover {
        color: $color-white;
        @include BoxShadow;
    }

    &:active {
        background-color: $color-blue-hover;
    }
}

.CONTENT--IMAGES {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    @include BoxShadow
}