// Definition der Farben für den Hellmodus
$li-clr-bg: #fcfcfc;
$li-clr-bg-alt: #fff;
$li-clr-fg: #555;
$li-clr-fg-alt: #444;
$li-clr-primary: #2978b5;
$li-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  
  // Definition der Farben für den Dunkelmodus
$da-clr-bg: #23283e;
$da-clr-bg-alt: #2a2f4c;
$da-clr-fg: #bdbddd;
$da-clr-fg-alt: #cdcdff;
$da-clr-primary: #90a0d9;
$da-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
 
.projects__column {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project {
  padding: 2rem;
  text-align: center;
  transition: transform 0.2s linear;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  border-radius: 8px;

  body.light & {
    box-shadow: $li-shadow;
  }
  
  body.dark & {
    box-shadow: $da-shadow;
  }
}

.project:hover {
  transform: translateY(-7px);
}

.project__thumbnail {
  width: 100%;
  aspect-ratio: 402 / 223;
  border-radius: 0.5rem;
  object-fit: cover;
}

.project__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project__stack-item {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;

  body.light & {
    color: $li-clr-fg-alt;
  }
  
  body.dark & {
    color: $da-clr-fg-alt;
  }
}

.project__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 777px) {
  .project {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
  }
}
